body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}  

#header-section {
  background-image: url(/public/busbanner.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.home_search_card {
  width: 400px;
  border-radius: 20px!important;
  text-align: center;
  margin-top:30px;
}

.seatsCard{
  height: 500px!important;
  width: 500px!important;
}